 <%= link_to 'Nuevo evento', new_admin_event_path %>

<div class="bd">

<div id="calendar" class="col-md-12">
</div>

	<%= javascript_tag do -%>
	var visits = <%= @events.html_safe %>;
	<% end -%>
</div>