<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<body>
	<section class="row">
	<article class="center">
	<h1>Events</h1>
	</section>
	</article>
</body>
</html>